.topo{
    background-color: #c1ff72;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    
}
h1{
    color: #2e6417;
    
}

.menu-nav{
    display: flex;
    justify-content: center; /*alinha o menu*/
    align-items: center;
    background-color: #d9d9d9;
    overflow: hidden; 
    position: relative; /*serve de ajuste pra mexer em algum elementeo mais livremente*/
   
}
.menu-nav a{
    color:rgb(11, 102, 16);
    padding: 10px 16px;
    float: left;
    display: block;
    text-decoration: none;
    font-size: 20px;
}

.banner{
   background-color: #2e6417;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 20px;
   height: 700px;
   padding: 40px; /*as imagens ficam menos grudadas no topo do banner*/
}
 .banner img{
    width: 400px;
 }